#container {
	padding-top: 130px;
	padding-bottom: 75px;
	display: block;
}

#container.day {
	background-color: #aaaaaa;
}

#container.night {
	background-color: #696969;
}

input {
	cursor: pointer;
}

.success {
	color: green;
}

.error {
	color: red;
}

.line {
	border-top: 1px solid grey;
	flex-grow: 1;
	margin: 0 10px;
}