header {
	min-width: 100%;
	position: fixed;
	top: 0px;
	left: 0px;
	right: 0px;
	margin-bottom: 0px;

	color: white;
}

.day header {
	background-color: #003366;
}

.night header {
	background-color: #212529;
}

div .nav {
	padding: 5px;
	min-width: 100%;
	display: inline-block;
}

ul {
	display: inline;

	list-style: none;
}

ul li {
	padding: 5px;
	margin-right: 10px;
	display: inline-block;

	border: solid 1px white;
}

ul li * {
	cursor: pointer;
	text-decoration: none;
	color: white;
	font-weight: bold;
}

ul li .active {
	color: red;
}

#themeSwitcher {
	position: fixed;
	right: 0;

	cursor: pointer;
	border: none;
	background-color: transparent;

	font-weight: bold;
}

.day #themeSwitcher {
	color: white;
}

.night #themeSwitcher {
	color: white;
}